<h1>Signin page</h1>
  
   <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<br><br><br><br>

<div class="form">

<form action="/signincheck" method="POST">

E-mail : <input type="text" name="email" required>
Password: <input type="Password" name="password" required>
<input type="submit" value="submit">
</form>

</div>

<br><br><br>

<div class="formbottompart">
<b>New User?</b><a href="/signup"><img src="/assets/signup.png" style="height: 90px;width: 90px;"  /></a>
</div>

