<!DOCTYPE html>
<html>
<head>
	<title>Signup Part-2</title>
</head>
<body>
  <h2>Bank Details</h2>
  <br><br>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<br><br><br><br>
  <form action="/accountdetailscheck" method="GET">
  	Transaction Username: <input type="text" name="username" required>
  	Transaction Password: <input type="Password" name="txnpassword" required>
  	Enter Account Balance: <input type="text" name="balance" required>
    <input type="submit" value="submit">

 </form>





</body>
</html>
