<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body><h2>DASHBOARD</h2>

	<a href="/personal">Personal </a><br>
	
	<a href="/mycart">My Cart</a><br>
	
	<a href="/orders">My Purchases</a><br>

	<a href="/solditems">My Sellings</a><br>

	<a href="/sell">Sell</a><br><br><br><br>

	<h4>Categories</h4>
	
	<form action="/dispproducts" method="GET">
	 <ul>
		 <li><input type="submit" value="sports" name="category" ></li>
	 	 <li><input type="submit" value="clothing" name="category" ></li>
	     <li><input type="submit" value="shoes" name="category"></li>
	     <li><input type="submit" value="electronics" name="category" ></li>
		 <li><input type="submit" value="anonymous" name="category" ></li>
	</ul>

	
	
	<br><br><br><br>

	<a href="/logout">Logout</a>
	


</body>
</html>