<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body><h2>DASHBOARD</h2>
<div class="dashboardtoplinks">
	<a href="/personal">Personal </a><br>
	
	<a href="/mycart">My Cart</a><br>
	
	<a href="/orders">My Purchases</a><br>

	<a href="/solditems">Sold Items</a><br>

	<a href="/sell">Sell</a><br><br><br><br>
</div>
	<h4>Categories</h4>
	<div class="categories" id="dashboardcategories">
		<form action="/dispproducts" method="POST">
		 
			<input type="submit" value="sports" name="category" >
		 	<input type="submit" value="clothing" name="category" >
		    <input type="submit" value="shoes" name="category">
		    <input type="submit" value="electronics" name="category" >
			<input type="submit" value="anonymous" name="category" >
		

		</form>
	</div>
	<br><br><br><br>

	<a href="/logout"><img src="/assets/logout.png" style="height: 50px;width: 100px;"  /></a>
	


</body>
</html>