<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>

	<a href="/personal">Personal </a><br>
	
	<a href="/Cart">My Cart</a><br>
	
	<a href="/orders">My Orders</a><br>
	
	<a href="/sell">Sell</a><br><br><br><br>

	<h4>Categories</h4>
	<ul>
	<li><a href="/dispproducts"><button type="button">sports</button></a></li>
	<li><a href="/dispproducts"><button type="button">clothing</button></a></li>
	<li><a href="/dispproducts"><button type="button">shoes</button></a></li>
	<li><a href="/dispproducts"><button type="button">electronics</button></a></li>
	<li><a href="/dispproducts"><button type="button">Anonymous</button></a></li>
	</ul>

<br><br><br><br><br><br>

	<a href="/logout">Logout</a>
	


</body>
</html>