<!DOCTYPE html>
<html>
<head>
	<title>FLIPKART</title>
</head>
<body>


<h2 align="center">Welcome to FLIPKART Official Website</h2> 

<div class="left">
	
</div>


<br><br><br><br>

Existing user?<a href="/signin">LOGIN</a>

<br><br><br>
New User?<a href="/signup">signup</a>


</body>
</html>