<!DOCTYPE html>
<html>
<head>
	<title>Transaction Details</title>
</head>
<body>
	<h3>Transaction Details</h3><br>
	 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  	

<br><br><br><br><a href="/dashboard">Go To Dashboard</a>

</body>
</html>