<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Sell Product</h2>

	<form action="/sellstore" method="get">
	Name: <input type="text" name="name" required><br>
	Price:<input type="number" name="price" min="1" required><br>
	Qty:<input type="number" name="qty" min="1" max="25" value="1">
	Color:<input type="color" name="color"><br>
	Category:
  <input type="radio" name="category" value="sports" checked> Sports<br>
  <input type="radio" name="category" value="clothing"> Clothing<br>
  <input type="radio" name="category" value="shoes"> Shoes<br>
  <input type="radio" name="category" value="electronics"> Electronics<br>
  <input type="radio" name="category" value="anonymous">Anonymous <br>

  <br>Enter Description: <br><textarea rows="4" cols="50" name="description"></textarea>
  

  <input type="submit" value="submit">





	</form>

</body>
</html>